.charts {
  &-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .value {
    color: $white;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
  }

  text {
    fill: $white;
  }

  .description {
    text-align: center;
  }
}

.amcharts-main-div a {
  display: none !important;
}

.chart {
  overflow: visible !important;
}

.amcharts-chart-div {
  overflow: visible !important;
}

.pie-chart {
  position: relative;
  .charts {
    height: 80%;
    background-color: $dark-blue-alpha;
    .value {
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      margin: 0;
      position: absolute;
      z-index: 1;
      left: 15%;
      top: 36%;
    }
  }
  .chart {
    width: 100px;
    height: 100px;
  }
}

.column-chart {
  width: 100%;
  height: 80%;
  background-color: $dark-blue-alpha;
  h3 {
    font-size: 10px;
  }
}

*[cursor=pointer] {
  display: none;
}