$blue-grey: #838f9d;
$dark-blue: #232836;
$dark-blue-alpha: rgba(35, 40, 54, 0.7);
$black: #000;
$white: #fff;
$darker-blue: #2a3645;

$light-blue: #bae6ef;
$blue: #2A93FC;
$orange: #f5a623;
$green: #27C97B;
$yellow: #E7B932;
