.figures {
  background-color: $blue;

  h2 {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding: 0 25px 10px 25px;
    margin: 20px 20px 10px 20px;
    li {
      color: $white;
      font-size: 30px;
      font-weight: 700;
      margin-top: 20px;
      h2 {
        margin-top: 0;
      }

      span {
        color: $light-blue;
        display: block;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.figures-page-2 {
  ul {
    padding: 0 25px 10px 25px;
    margin: 10px 10px 5px 10px;
    li {
      font-size: 20px;
      margin-top: 10px;
    }
  }
}