header {
  h1 {
    margin: 10px;
    span {
      color: white !important;
      font-weight: bold;
    }
  }
  .logo {
    margin-top: 20px;
    margin-right: 50px;
  }
}

.marquee {
  background-color: $darker-blue;
  /*margin-top: 30px;*/
  /*padding: 10px;*/
  /*margin: 0;*/
  height: 40px;
  color: $white;
  font-size: 24px;
  white-space: nowrap;

  i {
    color: $orange;
  }
  .js-marquee-wrapper {
    height: 100%;
  }
}
.slideshow {
  height: 100000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.marquee_up {
  height:700px;
  /*width:auto;*/
  /*position: absolute;*/
  /*overflow:hidden;*/
  top: 20px;
  white-space: nowrap;
  /*animation: animate 15s infinite;*/
}

@keyframes animate {
  100% { 
    transform: translate(0px,-200px);
  }
}

.orange-day {
  background-color: $orange !important;
  div {
    color: black !important;
  }
}

.orange-day-title {
  color: $orange !important;
  font-size: 15px;
}

footer {
  color: $white;
  padding: 5px 0 0 0;
  text-align: center;
  span {
    display: inline-block;
    margin-right: 10px;
  }

  img {
    margin-right: 25px;
  }
}


hr {
  border-color: $blue-grey;
}


.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.p-r-1 {
  padding-right: 10px;
}

.p-l-1 {
  padding-left: 10px;
}

.p-a-1 {
  padding: 10px;
}

.m-a-1 {
  margin: 10px;
}

.p-a-2 {
  padding: 20px;
}

.m-a-2 {
  margin: 20px;
}

.p-r-2 {
  padding-right: 20px;
}

.p-l-2 {
  padding-left: 20px;
}

#piecemaker-container {
    display:block;
    height:210px;
    overflow:hidden;
    /*margin: -2px auto 2px;*/
    width: 322px;
    max-width:100%; 
    max-height:100%;
}
#piecemaker-container div, #piecemaker-container img {
width: 100%;
height: 100%;
}