.panel {

  &-transparent {
    background: transparent;
    border: 0;
    color: $white;
  } 

  &-dark {
    background: rgba(255, 255, 255, .05);
    border: 0;
    color: $white;
  }

  .row {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0;
    padding: 20px;
  }

  span {
    display: inline-block;
    margin-right: 5px;
  }

  .progress {
    margin-bottom: 5px;
  }

  &-gradient {
    background-color: $dark-blue;
    background-image: linear-gradient(rgba(101, 121, 144, .2) 30%, $dark-blue 100%);
    border: 0;

    h2 {
      color: $blue;
      margin: 0;
    }

    li {
      padding-right: 10px;
    }
  }

  .media {
    padding-bottom: 20px;

    h3 {
      margin: 0;
      padding: 0 0 5px 0;
    }
  }

}

.value {
  color: $green;
}

.volume {
  color: $yellow;
}

.tons {
  color: $blue;
  padding: 0;
}

.feed {

  i {
    color: $brand-primary;
    font-size: 40px;
    margin-right: 20px;
  }

  .box {
    background: rgba(255, 255, 255, .05);
    border-radius: $border-radius-base;
    color: $white;
    padding: 10px;
    position: relative;

    p {
      font-size: 14px;
      line-height: 1.5;
      margin-top: 5px;
    }

    small {
      float: right;
    }

    h3 {
      color: $blue;
      float: left;
      margin: 0;
    }

    &:after {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-right-color: rgba(255, 255, 255, .05);
      border-width: 10px;
      margin-top: -10px;
    }
  }
}
