.partners {
  margin: 0 15px;
  ul {
    list-style: none;
    margin-top: 40px;
    padding: 0 10px;

    li {
      float: left;
      width: 50%;
      height: 90px;

      .circle {
        @include round(50%, 80px);
        background-color: $white;
        text-align: center;
        overflow: hidden;
        img {
          height: 70%;
          width: 70%;
          object-fit: contain;
        }
      }

      .figures {
        border-radius: 50%;
        line-height: inherit;
        height: 60px;
        width: 60px;
        background: rgba(42, 147, 252, 0.6);
        color: #fff;
        position: relative;
        left: 40px;
        bottom: 30px;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
