.table {
  thead
  {
    tr {
      th {
        border: #A2DEF2;
        color: rgba(255, 255, 255, .7);
        &:first-child {
          padding-left: 20px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        border: #A2DEF2;
        &:first-child {
          padding-left: 20px;
        }
      }
    }
  }
}
