h1 {
  color: $white;
  font-size: 42px;
  font-weight: 700;
}

h2 {
  color: $white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 20px;
}

h3 {
  color: $white;
  font-size: 18px;
  margin-left: 15px;
}

.primary {
  color: $brand-primary;
  font-size: 18px;
}

.description {
  color: $blue-grey;
  font-size: 16px;
}

.muted {
  color: rgba(255, 255, 255, .5);
}
