@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import '../fonts/font-awesome-4.6.3/scss/font-awesome';

@import 'mixins';
@import 'colors';
@import 'variables';
@import 'type';
@import 'layout';
@import 'figures';
@import 'partners';
@import 'charts';
@import 'panels';
@import 'tables';
@import 'carousel';
@import 'grid';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars';

$icon-font-path: '../fonts/';

// bower:scss
// endbower

// Space out content a bit
body {
	background: $dark-blue;
	font-family: 'Lato', Arial, sans-serif;
	/*zoom: 80%;*/
        /*font-size: 12px;*/
}
